.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.78) !important;
}
.myStyle {
  text-align: center;
  letter-spacing: 13px;
  font-size: 24px;
  margin-left: 270px;
  font-weight: 900;
}
.login-text-header {
  font-size: 2rem;
  font-weight: 650;
  margin-top: 10px;
}
.myImg {
  width: 2731px;
  height: 1240px;
}

.main {
  height: 100%;
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
  position: fixed;
}
.sub-main {
  width: 460px;
  height: 480px;
  margin-left: 900px;
  margin-top: -2px;
  position: relative;
  background: aqua;
  padding: 5px;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid black;
  padding-top: 40px;
}

.container {
  text-align: left;
}
.gif {
  width: 750px;
  height: 750px;
  margin-top: -80px;
}

.container2 {
  padding: 20px;
  width: 460px;
  border: 2px solid black;
  position: relative;
  margin-left: 880px;
  margin-top: -600px;
  border-radius: 22px;
  background-color: rgba(196, 196, 196, 0.38);
}

.emp {
  padding: 13px;
}

.gif2 {
  width: 700px;
  height: 680px;
}

.gif3 {
  width: 720px;
  height: 680px;
}
