table.GeneratedTable {
  margin-top: 20px !important;
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: darkgray;
}
